<div class = "row">
 <% @foods.each do |food|%>
 <div class="mx-1 px-3 my-1">
  <%= link_to food_path(food.id) do %>
  <div>
    <%= image_tag food.get_food_image(150,150) %>
  </div>
   <div class = "text-center py-3"><span class = "sticky"><%= food.name %></span></div>
   <% end %>
  </div>
 <% end %>
</div>

<div class = "fixed_btn">
 <%= link_to new_food_path, class:"btn btn-warning" do %>
  <i class="fas fa-bone"></i>
  フードを追加する
 <% end %>
</div>
