カレンダーだよ
<div class="calendar mx-3">
<%= month_calendar events: @records do |date, records| %>
  <%= date.day %>
  <!--<span class="calendar-title"><%#= start_date.year %>年  <%#= t('date.month_names')[start_date.month] %></span>-->
  
  <% @records.each do |record| %>
    <div>
     <%= record.pet.name %>
      <%#= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
</div>

