
<div id="container">
 <div id="theTarget">
  <div class="image1"></div>
  <div class="image2"></div>
  <div class="image3"></div>
 </div>
</div>

<div class= "hiddenA">
<div class = "text-center shadow bg-light mb-3">
 <div class = "line">
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
 </div>
  <br><br><br>
 <div class = "pb-3">「昨日ウチの子何食べたっけ？」</div>
 <div class = "textb pb-3">慌ただしい毎日の中でも、<br>大切なペットの食事管理をしてあげたい。</div>
 そんなあなたのための「ウチの子」です。
 <br><br><br>
 <div class = "line">
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
   <span class = "px-1"><i class="fas fa-home"></i></span><span class = "px-1"><i class="fas fa-dog"></i></span><span class = "px-1"><i class="fas fa-cat"></i></span><span class = "px-1"><i class="fas fa-bone"></i></span>
 </div>
 </div>
 </div>

<br><br><br><br><br><br><br>
<%= link_to "ログイン",new_end_user_session_path, class:"btn btn-dark btn-lg btn-block" %>
<%= link_to "新規登録",new_end_user_registration_path, class:"btn btn-primary btn-lg btn-block mb-3" %>
